In [1]:
import pandas as pd
import numpy as np
from time import sleep
from IPython.display import clear_output

In [2]:
leagues = {
    'ENG': 'Premier League',
    'GER': 'Bundesliga',
    'ESP': 'LaLiga',
    'FRA': 'Ligue 1',
    'ITA': 'Serie A',
}
seasons = {
    2017: '17/18',
    2018: '18/19',
    2019: '19/20',
    2020: '20/21',
    2021: '21/22',
    2022: '22/23',
    2023: '23/24',
}

In [3]:
elo = []
for i, l in enumerate(leagues):
    for j, s in enumerate(seasons):
        clear_output(wait=True)
        
        x = None
        sleep_time = 1
        while x is None:
            try:
                x = pd.read_html(f'http://clubelo.com/{s}-07-01/{l}/Ranking', flavor='lxml')[1].iloc[:30]
                sleep(sleep_time)
            except:
                sleep_time = np.random.randint(1, 10)
                pass
            
        x.Club = x.Club.str.lstrip('0123456789 ')
        print(x.columns)
        x['season'] = seasons[s]
        x['league'] = leagues[l]
        x = x[['season', 'league', 'team', 'elo']]
        elo.append(x)
        
        completion = round((i*len(seasons) + j+1)/(len(leagues)*len(seasons))* 100) 
        print(f'{completion}% ', l, s)

elo = pd.concat(elo)
elo['Average Elo'] = elo.groupby(['Season', 'League'])['Elo'].transform('mean')
elo.to_csv('prepped/elo.csv')

In [ ]:
elo

   Season          League        Club   Elo  Average Elo
0   17/18  Premier League     Chelsea  1909  1651.333333
1   17/18  Premier League   Tottenham  1887  1651.333333
2   17/18  Premier League    Man City  1866  1651.333333
3   17/18  Premier League  Man United  1857  1651.333333
4   17/18  Premier League     Arsenal  1848  1651.333333
..    ...             ...         ...   ...          ...
25  23/24         Serie A     Venezia  1480  1630.900000
26  23/24         Serie A   Suedtirol  1475  1630.900000
27  23/24         Serie A        Pisa  1460  1630.900000
28  23/24         Serie A        Como  1453  1630.900000
29  23/24         Serie A     Palermo  1441  1630.900000

[1050 rows x 5 columns]