In [1]:
import pandas as pd
import numpy as np
from time import sleep
from IPython.display import clear_output

In [2]:
leagues = {
    'ENG': 'GB1',
    'GER': 'L1',
    'ESP': 'ES1',
    'FRA': 'FR1',
    'ITA': 'IT1',
    'POR': 'PO1',
    'NED': 'NL1',
    'BEL': 'BE1',
    'TUR': 'TR1', 
    'GRE': 'GR1',
    'DEN': 'DK1',
    'RUS': 'RU1',
    'SCO': 'SC1'
}
seasons = {
    2017: '17/18',
    2018: '18/19',
    2019: '19/20',
    2020: '20/21',
    2021: '21/22',
    2022: '22/23',
    2023: '23/24',
}

In [3]:
elo = []
for i, l in enumerate(leagues):
    for j, s in enumerate(seasons):
        clear_output(wait=True)
        
        x = None
        sleep_time = 1
        while x is None:
            try:
                x = pd.read_html(f'http://clubelo.com/{s}-07-01/{l}/Ranking', flavor='lxml')[1].iloc[:30]
                sleep(sleep_time)
            except:
                sleep_time = np.random.randint(1, 10)
                pass
            
        x.Club = x.Club.str.lstrip('0123456789 ')
        x['season'] = seasons[s]
        x['league'] = leagues[l]
        x = x[['season', 'league', 'Club', 'Elo']]
        elo.append(x)
        
        completion = round((i*len(seasons) + j+1)/(len(leagues)*len(seasons))* 100) 
        print(f'{completion}% ', l, s)

elo = pd.concat(elo)

100%  SCO 2023

KeyError: 'Season'

In [6]:
elo['avg_elo'] = elo.groupby(['season', 'league'])['Elo'].transform('mean')
elo.to_csv('prepped/elo.csv')

In [11]:
elo[elo.league == 'GR1'].Club.unique()

array(['Ολυμπιακός', 'Παναθηναϊκός', 'ΠΑΟΚ', 'AEK', 'Πανιώνιος', 'Ξάνθη',
       'Ατρόμητος', 'Πλατανιάς Χανίων', 'Γιάννινα', 'Αστέρας', 'Ηρακλής',
       'Παναιτωλικός', 'Λεβαδειακός', 'Κέρκυρα', 'Λάρισα', 'Βέροια',
       'Απόλλων Σμύρνης', 'Λαμία', 'Άρης', 'ΟΦΗ', 'Βόλος', 'Ιωνικός',
       'Πανσερραϊκός', 'Kifisias'], dtype=object)

In [13]:
russia = {
    'Зенит': 'Zenit St. Petersburg',
    'ЦСКА': 'CSKA Moscow',
    'Ростов': 'Rostov',
    'Спартак Москва': 'Spartak Moscow',
    'Краснодар': 'Krasnodar',
    'Локомотив Москва': 'Locomotiv Moscow',
    'Терек': 'Akhmat',
    'Рубин': 'Rubin',
    'Уфа́': 'Ufa',
    'Амкар': 'Amkar',
    'Крылья Советов': 'Krylya Sovetov',
    'Хабаровск': 'Khabarovsk',
    'Динамо Москва': 'Dinamo Moscow',
    'Оренбург': 'Orenburg',
    'Урал': 'Ural',
    'Анжи': 'Anzhi',
    'Ту́ла': 'Arsenal Tula',
    'Томь': 'Tom',
    'Енисей': 'Enisey',
    'Тамбов': 'Tambov',
    'Со́чи': 'Sochi',
    'Химки': 'Khimki',
    'Ротор Волгоград': 'Rotor Volgograd',
    'Торпедо Москва': 'Torpedo Moscow',
    'Балтика': 'Baltika'
}

In [14]:
greece = {
    'Ολυμπιακός': 'Olympiacos',
    'Παναθηναϊκός': 'Panathinaikos',
    'ΠΑΟΚ': 'PAOK',
    'AEK': 'AEK',
    'Πανιώνιος': 'Panionios',
    'Ξάνθη': 'Xanthi',
    'Ατρόμητος': 'Atromitos',
    'Πλατανιάς Χανίων': 'Platanias',
    'Γιάννινα': 'Giannina',
    'Αστέρας': 'Asteras Tripolis',
    'Ηρακλής': 'Iraklis Thessaloniki',
    'Παναιτωλικός': 'Panetolikos',
    'Λεβαδειακός': 'Levadiakos',
    'Κέρκυρα': 'Kerkyra',
    'Λάρισα': 'Athlitiki Enosi Larissa',
    'Βέροια': 'Veria',
    'Απόλλων Σμύρνης': 'Apollon Smyrnis',
    'Λαμία': 'Lamia',
    'Άρης': 'Aris Thessaloniki',
    'ΟΦΗ': 'OFI Crete',
    'Βόλος': 'Volos',
    'Ιωνικός': 'Ionikos Nikaias',
    'Πανσερραϊκός': 'Panserraikos',
    'Kifisias': 'Kifisias'
}

In [21]:
elo2 = elo
elo2.Club = elo.Club.replace(greece).replace(russia)

In [25]:
elo2.to_csv('prepped/elo.csv')

In [26]:
elo2

   season league           Club   Elo      avg_elo
0   17/18    GB1        Chelsea  1909  1651.333333
1   17/18    GB1      Tottenham  1887  1651.333333
2   17/18    GB1       Man City  1866  1651.333333
3   17/18    GB1     Man United  1857  1651.333333
4   17/18    GB1        Arsenal  1848  1651.333333
..    ...    ...            ...   ...          ...
8   23/24    SC1     Kilmarnock  1236  1319.923077
9   23/24    SC1   St Johnstone  1235  1319.923077
10  23/24    SC1    Ross County  1221  1319.923077
11  23/24    SC1  Dundee United  1198  1319.923077
12  23/24    SC1         Dundee  1192  1319.923077

[2059 rows x 5 columns]