In [89]:
import pandas as pd
import numpy as np
from pathlib import Path
from thefuzz.process import extractOne
from tqdm import tqdm

tqdm.pandas()

In [90]:
stats = pd.read_csv(Path.cwd()/'prepped/player_stats.csv', index_col=False)
transfers = pd.read_csv(Path.cwd()/'prepped/data.csv', index_col=False).drop(columns=['position'])
elo = pd.read_csv(Path.cwd()/'prepped/elo.csv', index_col=False).drop(columns=['Unnamed: 0'])
display(stats, transfers, elo)

/var/folders/jm/4ddznsn94j7_pznhvk_1rwlw0000gn/T/ipykernel_65290/2189893827.py:1: DtypeWarning: Columns (4,6,15,16,17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  stats = pd.read_csv(Path.cwd()/'prepped/player_stats.csv', index_col=False)

,playerid,player,league,team,pos_23/24,marketval_23/24,season_23/24,matchesplayed_23/24,minsplayed_23/24,goals_23/24,...,prevgoals90_18/19,bpassesrcvd90_18/19,exits90_18/19,gkaerduels90_18/19,fk90_18/19,directfk90_18/19,directfkontrgtpct_18/19,corners90_18/19,pens_18/19,pencnvrspct_18/19
0,246963.0,C. Morris,GB1,Luton Town,CF,13000000.0,23/24,36.0,2987.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,395516.0,M. Diaby,GB1,Aston Villa,"CF, AMF",60000000.0,23/24,36.0,2249.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,525247.0,M. Kilman,GB1,Wolverhampton Wanderers,"RCB, LCB, CB",35000000.0,23/24,36.0,3687.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,495666.0,W. Saliba,GB1,Arsenal,RCB,75000000.0,23/24,36.0,3656.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,258889.0,D. Solanke,GB1,Bournemouth,CF,25000000.0,23/24,36.0,3584.0,18.0,...,NaN,0.00,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18132,14977.0,C. Janker,L1,Augsburg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.00,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
18133,55114.0,O. Sorg,L1,Hannover 96,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.84,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
18134,53408.0,F. Giefer,L1,Augsburg,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.131,0.00,1.40,0.93,NaN,NaN,NaN,0.0,0.0,0.0
18135,12864.0,J. Drobný,L1,Fortuna Düsseldorf,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.308,0.00,2.37,1.42,NaN,NaN,NaN,0.0,0.0,0.0
18136,2421.0,M. Rensing,L1,Fortuna Düsseldorf,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.209,0.00,2.23,0.59,NaN,NaN,NaN,0.0,0.0,0.0

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,window,fee,loan
0,Neymar,25,2017,100.00,Spain,LaLiga,FC Barcelona,France,Ligue 1,Paris Saint-Germain,summer,222.00,False
1,Ousmane Dembélé,20,2017,33.00,Germany,Bundesliga,Borussia Dortmund,Spain,LaLiga,FC Barcelona,summer,135.00,False
2,Romelu Lukaku,24,2017,50.00,England,Premier League,Everton FC,England,Premier League,Manchester United,summer,84.70,False
3,Álvaro Morata,24,2017,40.00,Spain,LaLiga,Real Madrid,England,Premier League,Chelsea FC,summer,66.00,False
4,Benjamin Mendy,23,2017,13.00,Monaco,Ligue 1,AS Monaco,England,Premier League,Manchester City,summer,57.50,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27982,Juan Mercado,26,2023,0.60,Bolivia,División Profesional Clausura,Club Deportivo Oriente Petrolero,Bolivia,División Profesional Clausura,Universitario de Vinto,winter,0.00,False
27983,Horacio Torres,24,2023,0.60,Mexico,Liga Expansión MX Cl.,Mineros de Zacatecas,Mexico,Liga Expansión MX Cl.,Atlético La Paz,winter,0.00,False
27984,Joe Gauci,23,2023,0.55,Australia,A-League Men,Adelaide United,England,Premier League,Aston Villa,winter,1.50,False
27985,Shihao Wei,28,2023,0.55,China,Super League,Wuhan Three Towns,China,Super League,Chengdu Rongcheng,winter,0.64,False
27986,Jesper Taaje,26,2023,0.45,Norway,Eliteserien,Sandefjord Fotball,Norway,Eliteserien,Strømsgodset IF,winter,0.55,False

     season league           Club   Elo      avg_elo
0     17/18    GB1        Chelsea  1909  1651.333333
1     17/18    GB1      Tottenham  1887  1651.333333
2     17/18    GB1       Man City  1866  1651.333333
3     17/18    GB1     Man United  1857  1651.333333
4     17/18    GB1        Arsenal  1848  1651.333333
...     ...    ...            ...   ...          ...
2054  23/24    SC1     Kilmarnock  1236  1319.923077
2055  23/24    SC1   St Johnstone  1235  1319.923077
2056  23/24    SC1    Ross County  1221  1319.923077
2057  23/24    SC1  Dundee United  1198  1319.923077
2058  23/24    SC1         Dundee  1192  1319.923077

[2059 rows x 5 columns]

In [91]:
league_map = {
    'LaLiga': 'SP1',
    'Bundesliga': 'L1',
    'Premier League': 'EN1',
    'Ligue 1': 'FR1',
    'Serie A': 'IT1',
    'Eredivisie': 'NL1',
    'Liga Portugal': 'PO1',
    'Liga NOS': 'PO1',
    'Jupiler Pro League': 'BE1',
    'JPL': 'BE1',
    'Superliga': 'DK1',
    'Super League': 'GR1',
    'Premier Liga': 'RU1',
    'Premiership': 'SC1',
    'Süper Lig': 'TR1'
}

In [92]:
transfers.league_from = transfers.league_from.replace(league_map)
transfers.league_to = transfers.league_to.replace(league_map)

In [93]:
transfers.iloc[14]

name            Corentin Tolisso
age                           22
season                      2017
market_value                22.0
country_from              France
league_from                  FR1
club_from         Olympique Lyon
country_to               Germany
league_to                     L1
club_to            Bayern Munich
window                    summer
fee                         41.5
loan                       False
Name: 14, dtype: object

In [94]:
def short_name_gen(name):
    name = name.split(' ')
    if len(name) == 1: 
        return name[0]
    name[0] = name[0][0] + '.'
    return ' '.join(name)

def match_wyscout_to_tm(row: pd.Series, thresh_player=50, thres_team=0): 
    short_name = short_name_gen(row['name'])
    
    club_from_wyscout = extractOne(
        query=row.club_from, score_cutoff=thres_team,
        choices=stats[stats['league'] == row.league_from]['team'].unique().tolist())[0]
    
    club_to_wyscout = extractOne(
        query=row.club_to, score_cutoff=thres_team,
        choices=stats[stats['league'] == row.league_to]['team'].unique().tolist())[0]
    
    name_wyscout = extractOne(
        query=row['name'], score_cutoff=thresh_player,
        choices=stats[(stats[f'league'] == row.league_to) & (stats['team'] == club_to_wyscout)]['player'].unique().tolist()
        ) or (None, 0)
    
    short_name_wyscout = extractOne(
        query=short_name, score_cutoff=thresh_player,
        choices=stats[(stats[f'league'] == row.league_to) & (stats['team'] == club_to_wyscout)]['player'].unique().tolist()
        ) or (None, 0)
    
    if club_from_wyscout == None or club_to_wyscout == None or (name_wyscout[0] == None and short_name_wyscout[0] == None):
        row['name'] = None
        row['playerid'] = None
        return row
    else:
        row['name'] = max([name_wyscout, short_name_wyscout], key = lambda t: t[1])[0]
        if stats[(stats[f'league'] == row.league_to) & (stats['team'] == club_to_wyscout) & (stats['player'] == row['name'])]['playerid'].size > 1:
            display(row.club_to, club_to_wyscout, row['name'], short_name, name_wyscout, short_name_wyscout)
            display(stats[(stats[f'league'] == row.league_to) & (stats['team'] == club_to_wyscout) & (stats['player'] == row['name'])])
            row['playerid'] = np.nan
            return row
        row['playerid'] = stats[(stats[f'league'] == row.league_to) & (stats['team'] == club_to_wyscout) & (stats['player'] == row['name'])]['playerid'].item()
        row['club_from'] = club_from_wyscout
        row['club_to'] = club_to_wyscout

    return row

def match_elo_to_tm(row, thresh_team=0):
    club_from_elo = extractOne(
        query=row.club_from,
        choices=elo[(elo.league == row.league_from) & (elo.season == row.season)]['Club'].unique().tolist())[0]
    # print(club_from_elo)
    club_to_elo = extractOne(
        query=row.club_to,
        choices=elo[(elo.league == row.league_to) & (elo.season == row.season)]['Club'].unique().tolist())[0]
    # print(club__elo)
    row['club_from_elo'] = elo[(elo.league == row.league_from) & (elo.season == row.season) & (elo.Club == club_from_elo)]['Elo'].item()
    row['club_to_elo'] = elo[(elo.league == row.league_to) & (elo.season == row.season) & (elo.Club == club_to_elo)]['Elo'].item()
    row['league_from_elo'] = elo[(elo.league == row.league_from) & (elo.season == row.season) & (elo.Club == club_from_elo)]['avg_elo'].item()
    row['league_to_elo'] = elo[(elo.league == row.league_to) & (elo.season == row.season) & (elo.Club == club_to_elo)]['avg_elo'].item()
    return row

In [95]:
competitions = ['GB1', 'FR1', 'TR1', 'NL1', 'SC1', 'IT1', 'DK1', 'PO1', 'ES1', 'BE1', 'RU1', 'GR1', 'L1']
countries = ['Spain', 'Germany', 'England', 'France', 'Italy', 'Netherlands', 'Portugal', 'Belgium', 
             'Denmark', 'Greece', 'Russia', 'Scotland', 'Türkiye']
transfers = transfers[transfers.league_to.isin(competitions) &
                      transfers.country_to.isin(countries)]
transfers = transfers[transfers.league_from.isin(competitions) & 
                      transfers.country_from.isin(countries)]
transfers['season'] = transfers['season'].map({2018: '18/19', 2019: '19/20', 2020: '20/21', 2021: '21/22', 2022: '22/23', 2023: '23/24'})
transfers = transfers[transfers.season.notnull()] # remove 17/18 season
# transfers['club_to'] = transfers.club_to.str.replace('Inter Milan', 'Internazionale') \
#                                         .str.replace('Paris Saint-Germain', 'PSG') \
#                                         .str.replace('Espanyol Barcelona', 'Espanyol')
# transfers['club_from'] = transfers.club_from.str.replace('Inter Milan', 'Internazionale') \
#                                         .str.replace('Paris Saint-Germain', 'PSG') \
#                                         .str.replace('Espanyol Barcelona', 'Espanyol')

In [96]:
transfers

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,window,fee,loan
4010,Douglas Costa,27,18/19,55.00,Germany,L1,Bayern Munich,Italy,IT1,Juventus FC,summer,40.0,False
4011,Gonzalo Higuaín,30,18/19,55.00,Italy,IT1,Juventus FC,Italy,IT1,AC Milan,summer,10.2,True
4015,Radja Nainggolan,30,18/19,45.00,Italy,IT1,AS Roma,Italy,IT1,Inter Milan,summer,38.0,False
4016,Patrik Schick,22,18/19,20.00,Italy,IT1,UC Sampdoria,Italy,IT1,AS Roma,summer,42.0,False
4022,Leon Goretzka,23,18/19,40.00,Germany,L1,FC Schalke 04,Germany,L1,Bayern Munich,summer,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27535,Nikolai Baden Frederiksen,23,23/24,0.70,Netherlands,NL1,Vitesse Arnhem,Denmark,DK1,Lyngby BK,winter,0.0,False
27695,Sylla Sow,27,23/24,0.65,Netherlands,NL1,Go Ahead Eagles,Netherlands,NL1,NEC Nijmegen,winter,0.0,False
27811,Ertaç Özbir,34,23/24,0.60,Türkiye,TR1,Adana Demirspor,Türkiye,TR1,MKE Ankaragücü,winter,0.0,False
27829,Igor Yurganov,30,23/24,0.60,Russia,RU1,FC Sochi,Russia,RU1,Fakel Voronezh,winter,0.0,False
27832,Fredrik Oppegård,21,23/24,0.60,Netherlands,NL1,PSV Eindhoven,Netherlands,NL1,Heracles Almelo,winter,0.0,True

In [97]:
transfers.iloc[1:2]

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,window,fee,loan
4011,Gonzalo Higuaín,30,18/19,55.0,Italy,IT1,Juventus FC,Italy,IT1,AC Milan,summer,10.2,True

In [98]:
transfers = transfers.progress_apply(match_elo_to_tm, axis=1)

100%|██████████| 3663/3663 [00:57<00:00, 63.93it/s]

In [99]:
transfers

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,window,fee,loan,club_from_elo,club_to_elo,league_from_elo,league_to_elo
4010,Douglas Costa,27,18/19,55.00,Germany,L1,Bayern Munich,Italy,IT1,Juventus FC,summer,40.0,False,1947,1961,1575.566667,1591.500000
4011,Gonzalo Higuaín,30,18/19,55.00,Italy,IT1,Juventus FC,Italy,IT1,AC Milan,summer,10.2,True,1961,1723,1591.500000,1591.500000
4015,Radja Nainggolan,30,18/19,45.00,Italy,IT1,AS Roma,Italy,IT1,Inter Milan,summer,38.0,False,1848,1755,1591.500000,1591.500000
4016,Patrik Schick,22,18/19,20.00,Italy,IT1,UC Sampdoria,Italy,IT1,AS Roma,summer,42.0,False,1603,1848,1591.500000,1591.500000
4022,Leon Goretzka,23,18/19,40.00,Germany,L1,FC Schalke 04,Germany,L1,Bayern Munich,summer,0.0,False,1739,1947,1575.566667,1575.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27535,Nikolai Baden Frederiksen,23,23/24,0.70,Netherlands,NL1,Vitesse Arnhem,Denmark,DK1,Lyngby BK,winter,0.0,False,1501,1327,1490.285714,1426.857143
27695,Sylla Sow,27,23/24,0.65,Netherlands,NL1,Go Ahead Eagles,Netherlands,NL1,NEC Nijmegen,winter,0.0,False,1428,1441,1490.285714,1490.285714
27811,Ertaç Özbir,34,23/24,0.60,Türkiye,TR1,Adana Demirspor,Türkiye,TR1,MKE Ankaragücü,winter,0.0,False,1530,1383,1435.363636,1435.363636
27829,Igor Yurganov,30,23/24,0.60,Russia,RU1,FC Sochi,Russia,RU1,Fakel Voronezh,winter,0.0,False,1443,1414,1446.166667,1446.166667
27832,Fredrik Oppegård,21,23/24,0.60,Netherlands,NL1,PSV Eindhoven,Netherlands,NL1,Heracles Almelo,winter,0.0,True,1745,1405,1490.285714,1490.285714

In [100]:
transfers = transfers.progress_apply(match_wyscout_to_tm, axis=1).dropna(subset=['name'])
transfers

  1%|          | 26/3663 [00:01<02:14, 27.14it/s]

'FC Schalke 04'

'Schalke 04'

'S. Sané'

'S. Sané'

('S. Sané', 86)

('S. Sané', 100)

,playerid,player,league,team,pos_23/24,marketval_23/24,season_23/24,matchesplayed_23/24,minsplayed_23/24,goals_23/24,...,prevgoals90_18/19,bpassesrcvd90_18/19,exits90_18/19,gkaerduels90_18/19,fk90_18/19,directfk90_18/19,directfkontrgtpct_18/19,corners90_18/19,pens_18/19,pencnvrspct_18/19
17407,410561.0,S. Sané,L1,Schalke 04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17769,126534.0,S. Sané,L1,Schalke 04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.5,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

  5%|▌         | 191/3663 [00:08<01:58, 29.33it/s]

'Vitória Guimarães SC'

'Vitória Guimarães'

'André André'

'A. André'

('André André', 100)

('André André', 95)

,playerid,player,league,team,pos_23/24,marketval_23/24,season_23/24,matchesplayed_23/24,minsplayed_23/24,goals_23/24,...,prevgoals90_18/19,bpassesrcvd90_18/19,exits90_18/19,gkaerduels90_18/19,fk90_18/19,directfk90_18/19,directfkontrgtpct_18/19,corners90_18/19,pens_18/19,pencnvrspct_18/19
9796,63837.0,André André,PO1,Vitória Guimarães,"LCMF, RCMF",250000.0,23/24,16.0,588.0,0.0,...,NaN,0.13,NaN,NaN,0.0,0.0,0.0,0.0,5.0,100.0
10350,375382.0,André André,PO1,Vitória Guimarães,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

  6%|▋         | 229/3663 [00:09<02:04, 27.53it/s]

'Portimonense SC'

'Portimonense'

'Paulinho'

'Paulinho'

('Paulinho', 100)

('Paulinho', 100)

,playerid,player,league,team,pos_23/24,marketval_23/24,season_23/24,matchesplayed_23/24,minsplayed_23/24,goals_23/24,...,prevgoals90_18/19,bpassesrcvd90_18/19,exits90_18/19,gkaerduels90_18/19,fk90_18/19,directfk90_18/19,directfkontrgtpct_18/19,corners90_18/19,pens_18/19,pencnvrspct_18/19
9879,842718.0,Paulinho,PO1,Portimonense,"CF, AMF",350000.0,23/24,8.0,216.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10952,212923.0,Paulinho,PO1,Portimonense,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.24,NaN,NaN,1.89,0.12,33.33,2.58,3.0,100.0

 97%|█████████▋| 3549/3663 [02:34<00:03, 30.27it/s]

'Rangers FC'

'Rangers'

'R. McCrorie'

'Ó. Cortés'

('A. Morelos', 50)

('R. McCrorie', 54)

,playerid,player,league,team,pos_23/24,marketval_23/24,season_23/24,matchesplayed_23/24,minsplayed_23/24,goals_23/24,...,prevgoals90_18/19,bpassesrcvd90_18/19,exits90_18/19,gkaerduels90_18/19,fk90_18/19,directfk90_18/19,directfkontrgtpct_18/19,corners90_18/19,pens_18/19,pencnvrspct_18/19
6674,244260.0,R. McCrorie,SC1,Rangers,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7039,293746.0,R. McCrorie,SC1,Rangers,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.51,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

100%|██████████| 3663/3663 [02:39<00:00, 22.98it/s]

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,window,fee,loan,club_from_elo,club_to_elo,league_from_elo,league_to_elo,playerid
4010,Douglas Costa,27,18/19,55.00,Germany,L1,Bayern München,Italy,IT1,Juventus,summer,40.0,False,1947,1961,1575.566667,1591.500000,75615.0
4011,G. Bonaventura,30,18/19,55.00,Italy,IT1,Juventus,Italy,IT1,Milan,summer,10.2,True,1961,1723,1591.500000,1591.500000,57280.0
4015,R. Nainggolan,30,18/19,45.00,Italy,IT1,Roma,Italy,IT1,Inter Milan,summer,38.0,False,1848,1755,1591.500000,1591.500000,41982.0
4016,P. Schick,22,18/19,20.00,Italy,IT1,Sampdoria,Italy,IT1,Roma,summer,42.0,False,1603,1848,1591.500000,1591.500000,242086.0
4022,L. Goretzka,23,18/19,40.00,Germany,L1,Schalke 04,Germany,L1,Bayern München,summer,0.0,False,1739,1947,1575.566667,1575.566667,153084.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27535,N. Geertsen,23,23/24,0.70,Netherlands,NL1,Vitesse,Denmark,DK1,Lyngby,winter,0.0,False,1501,1327,1490.285714,1426.857143,157912.0
27695,S. Hansen,27,23/24,0.65,Netherlands,NL1,Go Ahead Eagles,Netherlands,NL1,NEC,winter,0.0,False,1428,1441,1490.285714,1490.285714,485582.0
27811,E. Bekiroğlu,34,23/24,0.60,Türkiye,TR1,Adana Demirspor,Türkiye,TR1,Ankaragücü,winter,0.0,False,1530,1383,1435.363636,1435.363636,327402.0
27829,S. Bryzgalov,30,23/24,0.60,Russia,RU1,Sochi,Russia,RU1,Fakel,winter,0.0,False,1443,1414,1446.166667,1446.166667,137179.0
27832,R. Pröpper,21,23/24,0.60,Netherlands,NL1,PSV,Netherlands,NL1,Heracles,winter,0.0,True,1745,1405,1490.285714,1490.285714,202788.0

In [101]:
transfers = transfers.merge(stats, how='left', left_on=['playerid', 'club_from'], right_on=['playerid', 'team'], suffixes=('', '_pre'))
transfers = transfers.merge(stats, how='left', left_on=['playerid', 'club_to'], right_on=['playerid', 'team'], suffixes=('', '_post'))
transfers

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,...,prevgoals90_18/19_post,bpassesrcvd90_18/19_post,exits90_18/19_post,gkaerduels90_18/19_post,fk90_18/19_post,directfk90_18/19_post,directfkontrgtpct_18/19_post,corners90_18/19_post,pens_18/19_post,pencnvrspct_18/19_post
0,Douglas Costa,27,18/19,55.00,Germany,L1,Bayern München,Italy,IT1,Juventus,...,NaN,0.00,NaN,NaN,0.13,0.0,0.0,1.19,0.0,0.0
1,G. Bonaventura,30,18/19,55.00,Italy,IT1,Juventus,Italy,IT1,Milan,...,NaN,0.13,NaN,NaN,0.00,0.0,0.0,0.27,0.0,0.0
2,R. Nainggolan,30,18/19,45.00,Italy,IT1,Roma,Italy,IT1,Inter Milan,...,NaN,0.39,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0
3,P. Schick,22,18/19,20.00,Italy,IT1,Sampdoria,Italy,IT1,Roma,...,NaN,0.00,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0
4,L. Goretzka,23,18/19,40.00,Germany,L1,Schalke 04,Germany,L1,Bayern München,...,NaN,0.51,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3668,N. Geertsen,23,23/24,0.70,Netherlands,NL1,Vitesse,Denmark,DK1,Lyngby,...,NaN,0.74,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0
3669,S. Hansen,27,23/24,0.65,Netherlands,NL1,Go Ahead Eagles,Netherlands,NL1,NEC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3670,E. Bekiroğlu,34,23/24,0.60,Türkiye,TR1,Adana Demirspor,Türkiye,TR1,Ankaragücü,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3671,S. Bryzgalov,30,23/24,0.60,Russia,RU1,Sochi,Russia,RU1,Fakel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3672,R. Pröpper,21,23/24,0.60,Netherlands,NL1,PSV,Netherlands,NL1,Heracles,...,NaN,1.00,NaN,NaN,0.00,0.0,0.0,0.00,0.0,0.0

In [102]:
def season_to_offset(row):
    seasons = ['18/19', '19/20', '20/21', '21/22', '22/23', '23/24']
    transfer_season = seasons.index(row['season'])
    cols = row.index.tolist()
    for i in range(len(cols)):
        for s in seasons:
            if s in cols[i]:
                offset = seasons.index(s)
                idx = offset - transfer_season
                # print(cols[i], offset, transfer_season, idx, sep=', ')
                # if np.sign(idx) > 0:
                #     idx += 1
                # elif row['window'] == 'winter':
                #         idx -= 1
                cols[i] = cols[i].replace(f'_{s}','') + f'_{str(idx)}'
                continue
    
    row.index = cols
    row = row[row.index.isin(transfers.columns.to_list()[:17]) |
              ((row.index.str.contains('post_')) & (row.index.to_series().apply(lambda x: int(x[-1]) >= 0 if x[-1].isnumeric() and x[-2] != '-' else False))) | 
              ((~row.index.str.contains('post_')) & (row.index.to_series().apply(lambda x: int(x[-2:]) <= 0 if x[-1].isnumeric() and x[-2] == '-' else False)))]
    return row.to_frame().T

season_to_offset(transfers.iloc[1616,:]).columns.tolist()

['name',
 'age',
 'season',
 'market_value',
 'country_from',
 'league_from',
 'club_from',
 'country_to',
 'league_to',
 'club_to',
 'window',
 'fee',
 'loan',
 'club_from_elo',
 'club_to_elo',
 'league_from_elo',
 'league_to_elo',
 'pos_-1',
 'marketval_-1',
 'season_-1',
 'matchesplayed_-1',
 'minsplayed_-1',
 'goals_-1',
 'xg_-1',
 'assists_-1',
 'xa_-1',
 'duels90_-1',
 'duelswonpct_-1',
 'birthcountry_-1',
 'passpcountry_-1',
 'foot_-1',
 'height_-1',
 'weight_-1',
 'loanflg_-1',
 'succssdefact90_-1',
 'defduels90_-1',
 'defduelswpct_-1',
 'aerduels90_-1',
 'aerduelspct_-1',
 'sltackles90_-1',
 'padjsltackles_-1',
 'shotblocks90_-1',
 'intrcpt90_-1',
 'padjintrcpt_-1',
 'fouls90_-1',
 'ycards_-1',
 'ycards90_-1',
 'rcards_-1',
 'rcards90_-1',
 'sattact90_-1',
 'goals90_-1',
 'npgoals_-1',
 'npgoals90_-1',
 'xg90_-1',
 'hdrgoals_-1',
 'hdrgoals90_-1',
 'shots_-1',
 'shots90_-1',
 'ontrgtpct_-1',
 'goalcnvrsnpct_-1',
 'assists90_-1',
 'crosses90_-1',
 'acccrossespct_-1',
 'crossesleft90_-1',
 'acccrossesleftpct_-1',
 'crossesright90_-1',
 'acccrossesrightpct_-1',
 'crosses6yard90_-1',
 'dribbles90_-1',
 'succssdribblespct_-1',
 'offduels90_-1',
 'offduelspct_-1',
 'touchesbox90_-1',
 'prgruns90_-1',
 'acclr90_-1',
 'rcvdpasses90_-1',
 'rcvdlongpasses90_-1',
 'foulsa90_-1',
 'passes90_-1',
 'accpassespct_-1',
 'fwdpasses90_-1',
 'accfwdpassespct_-1',
 'bpasses90_-1',
 'accbpassespct_-1',
 'latpasses90_-1',
 'acclatpassespct_-1',
 'shortmedpasses90_-1',
 'accshortmedpassespct_-1',
 'longpasses90_-1',
 'acclongpassesct_-1',
 'avgpasslen_-1',
 'avglongpasslen_-1',
 'xa90_-1',
 'shotassist90_-1',
 'secassist90_-1',
 'thirdassist90_-1',
 'smartpasses90_-1',
 'accsmartpassespct_-1',
 'kp90_-1',
 'final3rdpasses90_-1',
 'accfinal3rdpassespct_-1',
 'penareapasses90_-1',
 'accpenareapassespct_-1',
 'thrpasses90_-1',
 'accthrpassespct_-1',
 'deepcomp90_-1',
 'deepcompcrosses90_-1',
 'prpasses90_-1',
 'accprpassespct_-1',
 'ga_-1',
 'ga90_-1',
 'shotsa_-1',
 'shotsa90_-1',
 'cs_-1',
 'saveratepct_-1',
 'xga_-1',
 'xga90_-1',
 'prevgoals_-1',
 'prevgoals90_-1',
 'bpassesrcvd90_-1',
 'exits90_-1',
 'gkaerduels90_-1',
 'fk90_-1',
 'directfk90_-1',
 'directfkontrgtpct_-1',
 'corners90_-1',
 'pens_-1',
 'pencnvrspct_-1',
 'pos_-2',
 'marketval_-2',
 'season_-2',
 'matchesplayed_-2',
 'minsplayed_-2',
 'goals_-2',
 'xg_-2',
 'assists_-2',
 'xa_-2',
 'duels90_-2',
 'duelswonpct_-2',
 'birthcountry_-2',
 'passpcountry_-2',
 'foot_-2',
 'height_-2',
 'weight_-2',
 'loanflg_-2',
 'succssdefact90_-2',
 'defduels90_-2',
 'defduelswpct_-2',
 'aerduels90_-2',
 'aerduelspct_-2',
 'sltackles90_-2',
 'padjsltackles_-2',
 'shotblocks90_-2',
 'intrcpt90_-2',
 'padjintrcpt_-2',
 'fouls90_-2',
 'ycards_-2',
 'ycards90_-2',
 'rcards_-2',
 'rcards90_-2',
 'sattact90_-2',
 'goals90_-2',
 'npgoals_-2',
 'npgoals90_-2',
 'xg90_-2',
 'hdrgoals_-2',
 'hdrgoals90_-2',
 'shots_-2',
 'shots90_-2',
 'ontrgtpct_-2',
 'goalcnvrsnpct_-2',
 'assists90_-2',
 'crosses90_-2',
 'acccrossespct_-2',
 'crossesleft90_-2',
 'acccrossesleftpct_-2',
 'crossesright90_-2',
 'acccrossesrightpct_-2',
 'crosses6yard90_-2',
 'dribbles90_-2',
 'succssdribblespct_-2',
 'offduels90_-2',
 'offduelspct_-2',
 'touchesbox90_-2',
 'prgruns90_-2',
 'acclr90_-2',
 'rcvdpasses90_-2',
 'rcvdlongpasses90_-2',
 'foulsa90_-2',
 'passes90_-2',
 'accpassespct_-2',
 'fwdpasses90_-2',
 'accfwdpassespct_-2',
 'bpasses90_-2',
 'accbpassespct_-2',
 'latpasses90_-2',
 'acclatpassespct_-2',
 'shortmedpasses90_-2',
 'accshortmedpassespct_-2',
 'longpasses90_-2',
 'acclongpassesct_-2',
 'avgpasslen_-2',
 'avglongpasslen_-2',
 'xa90_-2',
 'shotassist90_-2',
 'secassist90_-2',
 'thirdassist90_-2',
 'smartpasses90_-2',
 'accsmartpassespct_-2',
 'kp90_-2',
 'final3rdpasses90_-2',
 'accfinal3rdpassespct_-2',
 'penareapasses90_-2',
 'accpenareapassespct_-2',
 'thrpasses90_-2',
 'accthrpassespct_-2',
 'deepcomp90_-2',
 'deepcompcrosses90_-2',
 'prpasses90_-2',
 'accprpassespct_-2',
 'ga_-2',
 'ga90_-2',
 'shotsa_-2',
 'shotsa90_-2',
 'cs_-2',
 'saveratepct_-2',
 'xga_-2',
 'xga90_-2',
 'prevgoals_-2',
 'prevgoals90_-2',
 'bpassesrcvd90_-2',
 'exits90_-2',
 'gkaerduels90_-2',
 'fk90_-2',
 'directfk90_-2',
 'directfkontrgtpct_-2',
 'corners90_-2',
 'pens_-2',
 'pencnvrspct_-2',
 'pos_post_3',
 'marketval_post_3',
 'season_post_3',
 'matchesplayed_post_3',
 'minsplayed_post_3',
 'goals_post_3',
 'xg_post_3',
 'assists_post_3',
 'xa_post_3',
 'duels90_post_3',
 'duelswonpct_post_3',
 'birthcountry_post_3',
 'passpcountry_post_3',
 'foot_post_3',
 'height_post_3',
 'weight_post_3',
 'loanflg_post_3',
 'succssdefact90_post_3',
 'defduels90_post_3',
 'defduelswpct_post_3',
 'aerduels90_post_3',
 'aerduelspct_post_3',
 'sltackles90_post_3',
 'padjsltackles_post_3',
 'shotblocks90_post_3',
 'intrcpt90_post_3',
 'padjintrcpt_post_3',
 'fouls90_post_3',
 'ycards_post_3',
 'ycards90_post_3',
 'rcards_post_3',
 'rcards90_post_3',
 'sattact90_post_3',
 'goals90_post_3',
 'npgoals_post_3',
 'npgoals90_post_3',
 'xg90_post_3',
 'hdrgoals_post_3',
 'hdrgoals90_post_3',
 'shots_post_3',
 'shots90_post_3',
 'ontrgtpct_post_3',
 'goalcnvrsnpct_post_3',
 'assists90_post_3',
 'crosses90_post_3',
 'acccrossespct_post_3',
 'crossesleft90_post_3',
 'acccrossesleftpct_post_3',
 'crossesright90_post_3',
 'acccrossesrightpct_post_3',
 'crosses6yard90_post_3',
 'dribbles90_post_3',
 'succssdribblespct_post_3',
 'offduels90_post_3',
 'offduelspct_post_3',
 'touchesbox90_post_3',
 'prgruns90_post_3',
 'acclr90_post_3',
 'rcvdpasses90_post_3',
 'rcvdlongpasses90_post_3',
 'foulsa90_post_3',
 'passes90_post_3',
 'accpassespct_post_3',
 'fwdpasses90_post_3',
 'accfwdpassespct_post_3',
 'bpasses90_post_3',
 'accbpassespct_post_3',
 'latpasses90_post_3',
 'acclatpassespct_post_3',
 'shortmedpasses90_post_3',
 'accshortmedpassespct_post_3',
 'longpasses90_post_3',
 'acclongpassesct_post_3',
 'avgpasslen_post_3',
 'avglongpasslen_post_3',
 'xa90_post_3',
 'shotassist90_post_3',
 'secassist90_post_3',
 'thirdassist90_post_3',
 'smartpasses90_post_3',
 'accsmartpassespct_post_3',
 'kp90_post_3',
 'final3rdpasses90_post_3',
 'accfinal3rdpassespct_post_3',
 'penareapasses90_post_3',
 'accpenareapassespct_post_3',
 'thrpasses90_post_3',
 'accthrpassespct_post_3',
 'deepcomp90_post_3',
 'deepcompcrosses90_post_3',
 'prpasses90_post_3',
 'accprpassespct_post_3',
 'ga_post_3',
 'ga90_post_3',
 'shotsa_post_3',
 'shotsa90_post_3',
 'cs_post_3',
 'saveratepct_post_3',
 'xga_post_3',
 'xga90_post_3',
 'prevgoals_post_3',
 'prevgoals90_post_3',
 'bpassesrcvd90_post_3',
 'exits90_post_3',
 'gkaerduels90_post_3',
 'fk90_post_3',
 'directfk90_post_3',
 'directfkontrgtpct_post_3',
 'corners90_post_3',
 'pens_post_3',
 'pencnvrspct_post_3',
 'pos_post_2',
 'marketval_post_2',
 'season_post_2',
 'matchesplayed_post_2',
 'minsplayed_post_2',
 'goals_post_2',
 'xg_post_2',
 'assists_post_2',
 'xa_post_2',
 'duels90_post_2',
 'duelswonpct_post_2',
 'birthcountry_post_2',
 'passpcountry_post_2',
 'foot_post_2',
 'height_post_2',
 'weight_post_2',
 'loanflg_post_2',
 'succssdefact90_post_2',
 'defduels90_post_2',
 'defduelswpct_post_2',
 'aerduels90_post_2',
 'aerduelspct_post_2',
 'sltackles90_post_2',
 'padjsltackles_post_2',
 'shotblocks90_post_2',
 'intrcpt90_post_2',
 'padjintrcpt_post_2',
 'fouls90_post_2',
 'ycards_post_2',
 'ycards90_post_2',
 'rcards_post_2',
 'rcards90_post_2',
 'sattact90_post_2',
 'goals90_post_2',
 'npgoals_post_2',
 'npgoals90_post_2',
 'xg90_post_2',
 'hdrgoals_post_2',
 'hdrgoals90_post_2',
 'shots_post_2',
 'shots90_post_2',
 'ontrgtpct_post_2',
 'goalcnvrsnpct_post_2',
 'assists90_post_2',
 'crosses90_post_2',
 'acccrossespct_post_2',
 'crossesleft90_post_2',
 'acccrossesleftpct_post_2',
 'crossesright90_post_2',
 'acccrossesrightpct_post_2',
 'crosses6yard90_post_2',
 'dribbles90_post_2',
 'succssdribblespct_post_2',
 'offduels90_post_2',
 'offduelspct_post_2',
 'touchesbox90_post_2',
 'prgruns90_post_2',
 'acclr90_post_2',
 'rcvdpasses90_post_2',
 'rcvdlongpasses90_post_2',
 'foulsa90_post_2',
 'passes90_post_2',
 'accpassespct_post_2',
 'fwdpasses90_post_2',
 'accfwdpassespct_post_2',
 'bpasses90_post_2',
 'accbpassespct_post_2',
 'latpasses90_post_2',
 'acclatpassespct_post_2',
 'shortmedpasses90_post_2',
 'accshortmedpassespct_post_2',
 'longpasses90_post_2',
 'acclongpassesct_post_2',
 'avgpasslen_post_2',
 'avglongpasslen_post_2',
 'xa90_post_2',
 'shotassist90_post_2',
 'secassist90_post_2',
 'thirdassist90_post_2',
 'smartpasses90_post_2',
 'accsmartpassespct_post_2',
 'kp90_post_2',
 'final3rdpasses90_post_2',
 'accfinal3rdpassespct_post_2',
 'penareapasses90_post_2',
 'accpenareapassespct_post_2',
 'thrpasses90_post_2',
 'accthrpassespct_post_2',
 'deepcomp90_post_2',
 'deepcompcrosses90_post_2',
 'prpasses90_post_2',
 'accprpassespct_post_2',
 'ga_post_2',
 'ga90_post_2',
 'shotsa_post_2',
 'shotsa90_post_2',
 'cs_post_2',
 'saveratepct_post_2',
 'xga_post_2',
 'xga90_post_2',
 'prevgoals_post_2',
 'prevgoals90_post_2',
 'bpassesrcvd90_post_2',
 'exits90_post_2',
 'gkaerduels90_post_2',
 'fk90_post_2',
 'directfk90_post_2',
 'directfkontrgtpct_post_2',
 'corners90_post_2',
 'pens_post_2',
 'pencnvrspct_post_2',
 'pos_post_1',
 'marketval_post_1',
 'season_post_1',
 'matchesplayed_post_1',
 'minsplayed_post_1',
 'goals_post_1',
 'xg_post_1',
 'assists_post_1',
 'xa_post_1',
 'duels90_post_1',
 'duelswonpct_post_1',
 'birthcountry_post_1',
 'passpcountry_post_1',
 'foot_post_1',
 'height_post_1',
 'weight_post_1',
 'loanflg_post_1',
 'succssdefact90_post_1',
 'defduels90_post_1',
 'defduelswpct_post_1',
 'aerduels90_post_1',
 'aerduelspct_post_1',
 'sltackles90_post_1',
 'padjsltackles_post_1',
 'shotblocks90_post_1',
 'intrcpt90_post_1',
 'padjintrcpt_post_1',
 'fouls90_post_1',
 'ycards_post_1',
 'ycards90_post_1',
 'rcards_post_1',
 'rcards90_post_1',
 'sattact90_post_1',
 'goals90_post_1',
 'npgoals_post_1',
 'npgoals90_post_1',
 'xg90_post_1',
 'hdrgoals_post_1',
 'hdrgoals90_post_1',
 'shots_post_1',
 'shots90_post_1',
 'ontrgtpct_post_1',
 'goalcnvrsnpct_post_1',
 'assists90_post_1',
 'crosses90_post_1',
 'acccrossespct_post_1',
 'crossesleft90_post_1',
 'acccrossesleftpct_post_1',
 'crossesright90_post_1',
 'acccrossesrightpct_post_1',
 'crosses6yard90_post_1',
 'dribbles90_post_1',
 'succssdribblespct_post_1',
 'offduels90_post_1',
 'offduelspct_post_1',
 'touchesbox90_post_1',
 'prgruns90_post_1',
 'acclr90_post_1',
 'rcvdpasses90_post_1',
 'rcvdlongpasses90_post_1',
 'foulsa90_post_1',
 'passes90_post_1',
 'accpassespct_post_1',
 'fwdpasses90_post_1',
 'accfwdpassespct_post_1',
 'bpasses90_post_1',
 'accbpassespct_post_1',
 'latpasses90_post_1',
 'acclatpassespct_post_1',
 'shortmedpasses90_post_1',
 'accshortmedpassespct_post_1',
 'longpasses90_post_1',
 'acclongpassesct_post_1',
 'avgpasslen_post_1',
 'avglongpasslen_post_1',
 'xa90_post_1',
 'shotassist90_post_1',
 'secassist90_post_1',
 'thirdassist90_post_1',
 'smartpasses90_post_1',
 'accsmartpassespct_post_1',
 'kp90_post_1',
 'final3rdpasses90_post_1',
 'accfinal3rdpassespct_post_1',
 'penareapasses90_post_1',
 'accpenareapassespct_post_1',
 'thrpasses90_post_1',
 'accthrpassespct_post_1',
 'deepcomp90_post_1',
 'deepcompcrosses90_post_1',
 'prpasses90_post_1',
 'accprpassespct_post_1',
 'ga_post_1',
 'ga90_post_1',
 'shotsa_post_1',
 'shotsa90_post_1',
 'cs_post_1',
 'saveratepct_post_1',
 'xga_post_1',
 'xga90_post_1',
 'prevgoals_post_1',
 'prevgoals90_post_1',
 'bpassesrcvd90_post_1',
 'exits90_post_1',
 'gkaerduels90_post_1',
 'fk90_post_1',
 'directfk90_post_1',
 'directfkontrgtpct_post_1',
 'corners90_post_1',
 'pens_post_1',
 'pencnvrspct_post_1',
 'pos_post_0',
 'marketval_post_0',
 'season_post_0',
 'matchesplayed_post_0',
 'minsplayed_post_0',
 'goals_post_0',
 'xg_post_0',
 'assists_post_0',
 'xa_post_0',
 'duels90_post_0',
 'duelswonpct_post_0',
 'birthcountry_post_0',
 'passpcountry_post_0',
 'foot_post_0',
 'height_post_0',
 'weight_post_0',
 'loanflg_post_0',
 'succssdefact90_post_0',
 'defduels90_post_0',
 'defduelswpct_post_0',
 'aerduels90_post_0',
 'aerduelspct_post_0',
 'sltackles90_post_0',
 'padjsltackles_post_0',
 'shotblocks90_post_0',
 'intrcpt90_post_0',
 'padjintrcpt_post_0',
 'fouls90_post_0',
 'ycards_post_0',
 'ycards90_post_0',
 'rcards_post_0',
 'rcards90_post_0',
 'sattact90_post_0',
 'goals90_post_0',
 'npgoals_post_0',
 'npgoals90_post_0',
 'xg90_post_0',
 'hdrgoals_post_0',
 'hdrgoals90_post_0',
 'shots_post_0',
 'shots90_post_0',
 'ontrgtpct_post_0',
 'goalcnvrsnpct_post_0',
 'assists90_post_0',
 'crosses90_post_0',
 'acccrossespct_post_0',
 'crossesleft90_post_0',
 'acccrossesleftpct_post_0',
 'crossesright90_post_0',
 'acccrossesrightpct_post_0',
 'crosses6yard90_post_0',
 'dribbles90_post_0',
 'succssdribblespct_post_0',
 'offduels90_post_0',
 'offduelspct_post_0',
 'touchesbox90_post_0',
 'prgruns90_post_0',
 'acclr90_post_0',
 'rcvdpasses90_post_0',
 'rcvdlongpasses90_post_0',
 'foulsa90_post_0',
 'passes90_post_0',
 'accpassespct_post_0',
 'fwdpasses90_post_0',
 'accfwdpassespct_post_0',
 'bpasses90_post_0',
 'accbpassespct_post_0',
 'latpasses90_post_0',
 'acclatpassespct_post_0',
 'shortmedpasses90_post_0',
 'accshortmedpassespct_post_0',
 'longpasses90_post_0',
 'acclongpassesct_post_0',
 'avgpasslen_post_0',
 'avglongpasslen_post_0',
 'xa90_post_0',
 'shotassist90_post_0',
 'secassist90_post_0',
 'thirdassist90_post_0',
 'smartpasses90_post_0',
 'accsmartpassespct_post_0',
 'kp90_post_0',
 'final3rdpasses90_post_0',
 'accfinal3rdpassespct_post_0',
 'penareapasses90_post_0',
 'accpenareapassespct_post_0',
 'thrpasses90_post_0',
 'accthrpassespct_post_0',
 'deepcomp90_post_0',
 'deepcompcrosses90_post_0',
 'prpasses90_post_0',
 'accprpassespct_post_0',
 'ga_post_0',
 'ga90_post_0',
 'shotsa_post_0',
 'shotsa90_post_0',
 'cs_post_0',
 'saveratepct_post_0',
 'xga_post_0',
 'xga90_post_0',
 'prevgoals_post_0',
 'prevgoals90_post_0',
 'bpassesrcvd90_post_0',
 'exits90_post_0',
 'gkaerduels90_post_0',
 'fk90_post_0',
 'directfk90_post_0',
 'directfkontrgtpct_post_0',
 'corners90_post_0',
 'pens_post_0',
 'pencnvrspct_post_0']

In [103]:
rows = []
for i, row in tqdm(transfers.iterrows(), total=transfers.shape[0]):
    rows.append(season_to_offset(row))

df = pd.concat(rows, ignore_index=True)
df

100%|██████████| 3673/3673 [00:55<00:00, 66.41it/s]

,name,age,season,market_value,country_from,league_from,club_from,country_to,league_to,club_to,...,prevgoals90_-5,bpassesrcvd90_-5,exits90_-5,gkaerduels90_-5,fk90_-5,directfk90_-5,directfkontrgtpct_-5,corners90_-5,pens_-5,pencnvrspct_-5
0,Douglas Costa,27,18/19,55.0,Germany,L1,Bayern München,Italy,IT1,Juventus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,G. Bonaventura,30,18/19,55.0,Italy,IT1,Juventus,Italy,IT1,Milan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R. Nainggolan,30,18/19,45.0,Italy,IT1,Roma,Italy,IT1,Inter Milan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P. Schick,22,18/19,20.0,Italy,IT1,Sampdoria,Italy,IT1,Roma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,L. Goretzka,23,18/19,40.0,Germany,L1,Schalke 04,Germany,L1,Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3668,N. Geertsen,23,23/24,0.7,Netherlands,NL1,Vitesse,Denmark,DK1,Lyngby,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3669,S. Hansen,27,23/24,0.65,Netherlands,NL1,Go Ahead Eagles,Netherlands,NL1,NEC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3670,E. Bekiroğlu,34,23/24,0.6,Türkiye,TR1,Adana Demirspor,Türkiye,TR1,Ankaragücü,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3671,S. Bryzgalov,30,23/24,0.6,Russia,RU1,Sochi,Russia,RU1,Fakel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3672,R. Pröpper,21,23/24,0.6,Netherlands,NL1,PSV,Netherlands,NL1,Heracles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
columns_ordered = df.drop(columns=['market_value']).columns.to_list()[:17]
for i in [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]:
    columns_ordered += sorted(df.columns[df.columns.str.contains(f'_{i}')].to_list())
df = df[columns_ordered]
df

,name,age,season,country_from,league_from,club_from,country_to,league_to,club_to,window,...,touchesbox90_post_4,weight_post_4,xa90_post_4,xa_post_4,xg90_post_4,xg_post_4,xga90_post_4,xga_post_4,ycards90_post_4,ycards_post_4
0,Douglas Costa,27,18/19,Germany,L1,Bayern München,Italy,IT1,Juventus,summer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,G. Bonaventura,30,18/19,Italy,IT1,Juventus,Italy,IT1,Milan,summer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R. Nainggolan,30,18/19,Italy,IT1,Roma,Italy,IT1,Inter Milan,summer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P. Schick,22,18/19,Italy,IT1,Sampdoria,Italy,IT1,Roma,summer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,L. Goretzka,23,18/19,Germany,L1,Schalke 04,Germany,L1,Bayern München,summer,...,1.94,82.0,0.09,1.87,0.23,4.57,0.0,0.0,0.25,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3668,N. Geertsen,23,23/24,Netherlands,NL1,Vitesse,Denmark,DK1,Lyngby,winter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3669,S. Hansen,27,23/24,Netherlands,NL1,Go Ahead Eagles,Netherlands,NL1,NEC,winter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3670,E. Bekiroğlu,34,23/24,Türkiye,TR1,Adana Demirspor,Türkiye,TR1,Ankaragücü,winter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3671,S. Bryzgalov,30,23/24,Russia,RU1,Sochi,Russia,RU1,Fakel,winter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3672,R. Pröpper,21,23/24,Netherlands,NL1,PSV,Netherlands,NL1,Heracles,winter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df.columns = df.columns.str.replace('_post', '')

In [106]:
df.to_csv('final.csv', index=False)